/* Custom styles for UNBL documentation */

/* Make the logo larger */
.md-header__button.md-logo img,
.md-header__button.md-logo svg {
  height: 2.5rem !important;
  width: auto !important;
  max-width: none !important;
  filter: drop-shadow(0 3px 6px rgba(0, 0, 0, 0.7)) drop-shadow(0 1px 2px rgba(0, 0, 0, 0.5));
}

/* Center text in table cells */
.md-typeset table td:first-child {
  vertical-align: middle;
}

.md-typeset table th {
  text-align: center;
}

/* Center all images */
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 50%;
  height: auto;
}

/* Custom header color */
[data-md-color-primary=custom] {
  --md-primary-fg-color: #0099a1;
  --md-primary-fg-color--light: #0099a1;
  --md-primary-fg-color--dark: #0099a1;
}

/* Custom footer color */
.md-footer {
  background-color: #0099a1 !important;
}